[Unit]
Description=home_gui
After=network.target homectrl_server.service

[Service]
User=pi
Group=pi
ExecStart=/opt/home/gui/gui_main.py
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target
