[Unit]
Description=localtunnel
After=network.target

[Service]
ExecStart=/usr/local/bin/lt --port 5000 --subdomain clayton039
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always
RestartSec=1
Type=simple

[Install]
WantedBy=multi-user.target
